*{
    margin: 0;
    padding: 0;
}
.Container{
    position: relative;
    width: 625px;
    background-color: antiquewhite;
}
.Menu{
    height: 30px;
    width: auto;
    background-color: rgb(162, 137, 93);
    padding: 5px;
    text-align: center;
    position: relative;
}
.Menu i{
    margin-left: 268px;
    font-size: 22px;
    position: absolute;
}
/*Title*/
.shape{
    height: 250px;
    width: 250px;
    background-color: rgba(243, 219, 195, 0.788);
    position: absolute;
    margin-top: -18px;
    margin-left: 460px;
    border-bottom-left-radius: 550px;
    border-top-left-radius: 0px;
}
.shape2{
    height: 200px;
    width: 180px;
    background-color: rgba(236, 206, 178, 0.596);
    position: absolute;
    margin-top: 135px;
    margin-left: 425px;
    border-bottom-left-radius: -10px;
    border-top-left-radius: 500px;
}
.title{
    height: 120px;
    width: auto;
    background-color: rgb(239, 209, 181);
    padding: 20px;
    align-items: center;
}
.support{
    font-size: 20px;
    font-family:'Frijole';
    margin-left: 120px;
    color:rgb(226, 112, 50) ;
}
.textsupport{
    font-size: 11px;
    font-family:'Rhodium Libre';
    color:rgb(0, 0, 0) ;
    margin-left: 30px;
    margin-top: 16px;
}



/*COntent*/
.content{
    height: 730px;
    background-color: rgb(248, 229, 212);
    position: relative;
}

.meet{
    font-size:29px ;
    font-family: 'Righteous';
    color:rgb(44, 160, 151) ;
    letter-spacing: 19px;
    word-spacing: 10px;
    margin-left: 62px;
    margin-top: 15px;
    position: absolute;
}
.rec1, .rec2, .rec3, .rec4, .rec5, .rec6{
    position: absolute;
    border-radius: 8%;
    margin-top: 120px;
    margin: 20px;
    background-color: rgb(217, 187, 136); 

}
.circle1, .circle2, .circle3, .circle4, .circle5, .circle6{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: relative;
}
.rec1{
    position: absolute;
    left: 10px;
    height: 260px;
    width: 170px;
    margin-top: 130px;

}
.circle1{
   margin-left: 23px;
   margin-top: -50px;
   background-color: rgb(254, 248, 220);
}

.rec2{
    position: absolute;
    margin-left: 205px;
    height: 260px;
    width: 170px;
    margin-top: 130px;
}

.circle2{
    margin-left: 23px;
    margin-top: -54px;
}
.rec3{
    position: absolute;
    margin-left: 400px;
    height: 260px;
    width: 170px;
    margin-top: 130px;
}
.circle3{
    margin-left: 23px;
    margin-top: -54px;
    background-color: rgb(254, 248, 220);
}
.rec4{
    position: absolute;
    left: 10px;
    height: 260px;
    width: 170px;
    margin-top: 460px;

}
.circle4{
    margin-left: 23px;
    margin-top: -54px;
}
.rec5{
    position: absolute;
    margin-left: 205px;
    height: 260px;
    width: 170px;
    margin-top: 460px;
}
.circle5{
    margin-left: 23px;
    margin-top: -54px;
    background-color: rgb(254, 249, 220);
}
.rec6{
    position: absolute;
    margin-left: 400px;
    height: 260px;
    width: 170px;
    margin-top: 460px;
}
.circle6{
    margin-left: 23px;
    margin-top: -54px;
}
.pic1, .pic2, .pic3, .pic4, .pic5, .pic6{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
}
.pic1{
    margin-top: 0px;
}
.pic2{
    margin-top: 0px;
}
.pic3{
    margin-top: 0px;
}
.pic5{
    margin-top: -10px;
    margin-left: -7px;
    height:140px;
    width: 140px;
}

.content h3{
    font-family: 'Kaushan Script';
    color: rgb(198, 103, 40);
    font-size: 30px;
    letter-spacing: 3px;
}
.content h2{
    font-family: 'Red Rose';
    color: rgb(34, 108, 85);
    font-size: 15px;
    letter-spacing: 3px;
    margin-top: -7px;
}
.content p{
    position: absolute;
    font-size: 9px;
    margin: 9px;
    bottom:0;
    margin-bottom: 20px;
    font-family: 'Rhodium Libre';
    color: #fff9f9;
}
.name1{
    margin-top: -25px;
    margin-left: 25px;
    position: relative;
}
.name2{
    margin-top: -25px;
    margin-left: 35px;
    position: relative;
}
.name3{
    margin-top: -25px;
    margin-left: 20px;
    position: relative;
}
.name4{
    margin-top: -25px;
    margin-left: 35px;
    position: relative;
}
.name5{
    margin-top: -25px;
    margin-left: 20px;
    position: relative;
}
.name6{
    margin-top: -25px;
    margin-left: 25px;
    position: relative;
}
.subtext1{
    margin-left: 60px;
}
.subtext2{
    margin-left: 29px;
}
.subtext3{
    margin-left: 42px;
}
.subtext4{
    margin-left: 18px;
}
.subtext5{
    margin-left: 50px;
}
.subtext6{
    margin-left: 23px;
}
.design1{
    position: absolute;
    height: 500px;
    width: 400px;
    border-radius: 50%;
    background-color: rgb(227, 196, 167);
    opacity: 40%;
    margin-left: -275px;
    margin-top: -40px;
}
.design2{
    position: absolute;
    height: 450px;
    width: 400px;
    border-radius: 50%;
    background-color: rgb(227, 196, 167);
    opacity: 35%;
    margin-left: -250px;
    margin-top: 260px;
}
.design3{
    position: absolute;
    height: 200px;
    width: 200px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 100%;
    background-color: rgb(227, 196, 167);
    opacity: 40%;
    right: 0;
    margin-right: -100px;
    margin-top: -20px;
}



/*title part*/
.wellness{
    left: 0;
    font-size: 19px;
    font-family: "Paytone One";
    position: absolute;
}
.titlefirst{
    color: rgb(202, 184, 119);
}
.titlesecond{
    color: #f0f0f0;
}
.home, .about, .team, .blog, .contactus{
    position: absolute;
    margin-top: 8px;
    right: 0;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
.home{
    margin-right: 400px;
    height: 20px;
    margin-top: -2px;
    position: absolute;
    width: 30px;
    background-color: rgba(161, 136, 93, 0);
    padding: 10px;
    color: rgb(250, 248, 248);
    font-family: "Abel";
    
}
.about{
    margin-right: 350px;
    color: rgb(242, 244, 247);
    font-family: "Abel";
}
.team{
    margin-right: 280px;
    color: rgb(0, 0, 0);
    font-family: "Abel";
    background-color: rgb(235, 215, 142);
    padding: 10px;
    margin-top: -5px;
    margin-right: 273px;
    height: 20px;

}
.blog{
    margin-right: 230px;
    color: rgb(242, 244, 247);
    font-family: "Abel";
}
.contactus{
    margin-right: 145px;
    color: rgb(242, 244, 247);
    font-family: "Abel";
}
/*Lastpart*/
.footer{
    height: 5px;
    width: auto;
    background-color: rgb(173, 149, 103);
    padding: 20px;
}
.allrights{
    position: absolute;
    margin-left: 235px;
    font-size: 15px;
    font-family: "Abel";
    color: #f0f0f0;
    bottom: 12px;
}