*{
    margin: 0;
    padding: 0;
}
.Container{
    position: relative;
    width: 650px;
    background-color: antiquewhite;
}
.Menu{
    height: 30px;
    width: auto;
    background-color: rgb(162, 137, 93);
    padding: 5px;
    text-align: center;
    position: relative;
}
/*Title*/
.shape{
    height: 200px;
    width: 200px;
    background-color: rgba(243, 219, 195, 0.836);
    position: absolute;
    margin-top: -18px;
    margin-left: 430px;
    border-bottom-left-radius: 550px;
    border-top-left-radius: 0px;
    

}
.title{
    height: 300px;
    width: auto;
    background-color: rgb(247, 230, 210);
    padding: 20px;
    align-items: center;
}
.head{
    position: absolute;
    width: 350px;
    left: 0;
    margin-left: 155px;
}
.head img{
    width: 100%;
    height: auto;


}
/*COntent*/

.content{
    height: 400px;
    width: auto;
    background-color: rgb(239, 209, 181);
    padding: 20px;
}
.images{
    height: 380px;
    width: 170px;
    left:0;
    margin-left: 20px;
    margin-top: 12px;
    position: absolute;
    background-color: rgb(239, 209, 181);
}
.images img{
    position: absolute;
    height: 110px; 
    margin-left: 15px;
}
.pic1{
    margin-top: 15px;
}
.pic2{
    margin-top: 130px;
}
.pic3{
    margin-top: 250px;
}
.text{
    height: 380px;
    width: 230px;
    left:0;
    margin-left: 205px;
    margin-top: 12px;
    position: absolute;
    background-color: rgb(239, 209, 181);
}
.text p{
    font-family: 'Rhodium Libre';
    font-size: 11px;
    position: absolute;

}
.text h2{
    font-family: 'Righteous';
    font-size: 20px;
    position: absolute;
}
.contentText1{
    margin-top: 12px;
    
}
.contentText2{
    margin-top: 145PX;
    
}
.contentText3{
    margin-top: 260px;
    
}
.subtext1{
    margin-top: 45px;
}
.subtext2{
    margin-top: 180px;
}
.subtext3{
    margin-top: 285px;
}
.trends{
    height: 380px;
    width: 190px;
    left:0;
    margin-left: 450px;
    margin-top: 12px;
    position: absolute;
    background-color: rgb(12, 144, 252);
}
.quote{
    height: 200px;
    width: auto;
    background-color: rgb(255, 248, 220);
    padding: 20px;
    position: relative;
}
.quoteText1{
    margin-left: 250px;
    font-family: 'Kaushan Script';
    color: rgb(136, 53, 29);
    font-size: 35px;

}
.text2{
    font-family: 'Rhodium Libre';
    color: rgb(136, 53, 29);
    font-size: 30px;
}
.justbreath{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: blueviolet;
    position: absolute;
    border-color:  solid #000000 2px;
}


.wellness{
    left: 0;
    font-size: 19px;
    font-family: "Paytone One";
    position: absolute;
}
.titlefirst{
    color: rgb(202, 184, 119);
}
.titlesecond{
    color: #f0f0f0;
}
.home, .about, .team, .blog, .contactus{
    position: absolute;
    margin-top: 8px;
    right: 0;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
}
.home{
    margin-right: 256px;
    position: absolute;
    width: 330px;
    color: rgb(242, 244, 247);
    font-family: "Abel";
}
.about{
    margin-right: 350px;
    color: rgb(242, 244, 247);
    font-family: "Abel";
}
.team{
    margin-right: 280px;
    color: rgb(242, 244, 247);
    font-family: "Abel";
}
.blog{
    margin-right: 230px;
    color: rgb(242, 244, 247);
    font-family: "Abel";
}
.contactus{
    margin-right: 145px;
    color: rgb(242, 244, 247);
    font-family: "Abel";
}
/*Lastpart*/
.footer{
    height: 5px;
    width: auto;
    background-color: rgb(173, 149, 103);
    padding: 20px;
}
.allrights{
    position: absolute;
    margin-left: 240px;
    font-size: 15px;
    font-family: "Abel";
    color: #f0f0f0;
    bottom: 20px;
}