*{
    margin: 0;
    padding: 0;
}
.Container{
    position: relative;
    width: 625px;
    background-color: antiquewhite;
}
.Menu{
    height: 30px;
    width: auto;
    background-color: rgb(162, 137, 93);
    padding: 5px;
    text-align: center;
    position: relative;
}
.Menu i{
    margin-left: 268px;
    font-size: 22px;
    position: absolute;
}
/*Title*/
.shape{
    height: 250px;
    width: 250px;
    background-color: rgba(243, 219, 195, 0.788);
    position: absolute;
    margin-top: -18px;
    margin-left: 460px;
    border-bottom-left-radius: 550px;
    border-top-left-radius: 0px;
}
.shape2{
    height: 200px;
    width: 180px;
    background-color: rgba(236, 206, 178, 0.596);
    position: absolute;
    margin-top: 135px;
    margin-left: 425px;
    border-bottom-left-radius: -10px;
    border-top-left-radius: 500px;
}
.title{
    height: 258px;
    width: auto;
    background-color: rgb(247, 230, 210);
    padding: 20px;
    align-items: center;
}
.head{
    position: absolute;
    width: 350px;
    left: 0;
    margin-left: 140px;
}
.head img{
    width: 100%;
    height: auto;


}
/*COntent*/

.content{
    height: 380px;
    width: auto;
    background-color: rgb(239, 209, 181);
    padding: 20px;
}
.images{
    height: 380px;
    width: 170px;
    left:0;
    margin-left: 20px;
    margin-top: 12px;
    position: absolute;
    background-color: rgb(239, 209, 181);
}
.images img{
    position: absolute;
    height: 110px; 
    margin-left: 15px;
}
.pic1{
    margin-top: -10px;
}
.pic2{
    margin-top: 120px;
}
.pic3{
    margin-top: 250px;
}
.text{
    height: 380px;
    width: 230px;
    left:0;
    margin-left: 190px;
    margin-top: 12px;
    position: absolute;
    background-color: rgb(239, 209, 181);
}
.text p{
    font-family: 'Rhodium Libre';
    font-size: 11px;
    position: absolute;

}
.text h2{
    font-family: 'Righteous';
    font-size: 20px;
    position: absolute;
}
.contentText1{
    margin-top: 12px;
    
}
.contentText2{
    margin-top: 145PX;
    
}
.contentText3{
    margin-top: 260px;
    
}
.subtext1{
    margin-top: 45px;
}
.subtext2{
    margin-top: 180px;
}
.subtext3{
    margin-top: 296px;
}
/*trends*/
.trends{
    height: 380px;
    width: 160px;
    left:0;
    margin-left: 443px;
    margin-top: 10px;
    position: absolute;
    background-color: rgb(252, 239, 212);
}
.boxtrends{
    height: 30px;
    width: 120px;
    position: relative;
    background-color: rgb(178, 147, 99);
    margin-left: 21px;
    margin-top: -15px;
}
.trendsText{
    font-family: 'Righteous';
    color: #f0f0f0;
    position: absolute;
    font-size: 20px;
    margin-left: 23px;
    margin-top: 3px;
}
.trendsContent{
    position: absolute;
}
.trendsContent p{
 font-size: 10px;
}
.trendsContent h2{
    font-size: 16px;
    font-family: 'Rhodium Libre';
    position: relative;
    color: #313131;
}
.sites1{
   margin-left: 18px;
   margin-top: 13px;
}
.sites2{
    margin-left: 18px;
    margin-top: 10px;
}
.sites3{
    margin-left: 18px;
    margin-top: 10px;
}
.trendsContent img{
    position: relative;
}
.pc1{
    height: 88px;
    width: 93px;
    margin-top: 2px;
    margin-left: 38px;
}
.pc2{
    height: 88px;
    width: 117px;
    margin-top: 2px;
    margin-left: 23px; 
}
.pc3{
    height: 34px;
    width: 100px;
    margin-top: 4px;
    margin-left: 32px; 
}

.t1{
  margin-left: 35px;
}
.t2{
    margin-left: 50px;
} 


/*quote*/
.quote{
    height: 200px;
    width: auto;
    background-color: rgb(255, 248, 220);
    padding: 20px;
    position: relative;
}
.quoteText1{
    margin-left: 255px;
    font-family: 'Kaushan Script';
    color: rgb(136, 53, 29);
    font-size: 35px;

}
.text2{
    font-family: 'Rhodium Libre';
    color: rgb(136, 53, 29);
    font-size: 30px;
}
.justbreathe{
    height: 191px;
    width: 191px;
    border-radius: 50%;
    margin-left: 15px;
    background-color: rgb(176, 148, 100);
    position: absolute;
}
.innercircle{
    height: 175px;
    width: 175px;
    border: 5px solid rgb(240, 237, 237);
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
    position: absolute;
}
.just{
    font-family: 'Abel';
    font-size: 40px;
    position: absolute;
    margin-top: 38px;
    margin-left: 47px;
    color: #f0f0f0;
}
.breathe{
    font-family: 'Abel';
    font-size: 40px;
    position: absolute;
    text-decoration: underline;
    margin-top: 79px;
    margin-left: 18px;
    color: #f0f0f0;
}


/*title part*/
.wellness{
    left: 0;
    font-size: 19px;
    font-family: "Paytone One";
    position: absolute;
}
.titlefirst{
    color: rgb(202, 184, 119);
}
.titlesecond{
    color: #f0f0f0;
}
.home, .about, .team, .blog, .contactus{
    position: absolute;
    margin-top: 8px;
    right: 0;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
.home{
    margin-right: 400px;
    height: 20px;
    margin-top: -4px;
    position: absolute;
    width: 30px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-family: "Abel";
    background-color: rgb(235, 215, 142);
}
.about{
    margin-right: 350px;
    color: rgb(242, 244, 247);
    font-family: "Abel";
}
.team{
    margin-right: 280px;
    color: rgb(242, 244, 247);
    font-family: "Abel";
}
.blog{
    margin-right: 230px;
    color: rgb(242, 244, 247);
    font-family: "Abel";
}
.contactus{
    margin-right: 145px;
    color: rgb(242, 244, 247);
    font-family: "Abel";
}
/*Lastpart*/
.footer{
    height: 5px;
    width: auto;
    background-color: rgb(173, 149, 103);
    padding: 20px;
}
.allrights{
    position: absolute;
    margin-left: 235px;
    font-size: 15px;
    font-family: "Abel";
    color: #f0f0f0;
    bottom: 12px;
}